.Home {
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active--rooms,
.upcoming--rooms {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  align-items: center;
  justify-items: center;
  min-height: 40%;
}

.room--card {
  margin: 2rem;
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.room--card h1 {
  font-size: 1rem;
}

@media only screen and (max-width: 500px) {
  .active--title {
    font-size: 1.5rem;
  }
}
